* {
    font-family: dmsans;
}

a {
    text-decoration: none;
}

.bs-icon {
    --bs-icon-size: .75rem;
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    font-size: var(--bs-icon-size);
    width: calc(var(--bs-icon-size) * 2);
    height: calc(var(--bs-icon-size) * 2);
    color: var(--bs-primary);
}

.bs-icon-xs {
    --bs-icon-size: 1rem;
    width: calc(var(--bs-icon-size) * 1.5);
    height: calc(var(--bs-icon-size) * 1.5);
}

.bs-icon-sm {
    --bs-icon-size: 1rem;
}

.bs-icon-md {
    --bs-icon-size: 1.5rem;
}

.bs-icon-lg {
    --bs-icon-size: 2rem;
}

.bs-icon-xl {
    --bs-icon-size: 2.5rem;
}

.bs-icon.bs-icon-primary {
    color: var(--bs-white);
    background: var(--bs-primary);
}

.bs-icon.bs-icon-primary-light {
    color: var(--bs-primary);
    background: rgba(var(--bs-primary-rgb), .2);
}

.bs-icon.bs-icon-semi-white {
    color: var(--bs-primary);
    background: rgba(255, 255, 255, .5);
}

.bs-icon.bs-icon-rounded {
    border-radius: .5rem;
}

.bs-icon.bs-icon-circle {
    border-radius: 50%;
}

.my-nav-link {
    color: #696871 !important
}

.my-nav-link {
    background-image: linear-gradient(to right,
            #54b3d6,
            #54b3d6 50%,
            #000 50%);
    background-size: 200% 100%;
    background-position: -100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.3s ease-in-out;
}

.my-nav-link:hover {
    background-position: 0;
}

.my-nav-link:hover::after {
    width: 100%;
}

.my-nav-link::after {
    content: '';
    background: #54b3d6;
    display: block;
    position: relative;
    bottom: 0px;
    left: 0;
    width: 0;
    height: 3px;
}

.my-nav-link.my-active::after {
    content: '';
    background: #54b3d6;
    display: block;
    position: relative;
    bottom: 0px;
    left: 0;
    width: 0;
    height: 3px;
}

.my-nav-link.my-active:after {
    width: 100%;
}

.my-nav-link.my-active {
    color: #000000
}

.nav-btn {
    border-radius: 10px;
    background: #FF7143;
    width: 211px;
    height: 60px;
    flex-shrink: 0;
    border: 1px solid #FF7143;
    color: #fff
}

.hero-btn {
    width: 211px;
    height: 60px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #5454D4;
    color: #fff;
    border: 1px solid #5454D4;
}

.hero-title {
    color: #19191B;
    font-family: dmsans;
    font-style: normal;
    font-weight: 700;
    line-height: 77px;
    /* 96.25% */
    letter-spacing: -2.501px;
}

.hero-lead {
    color: #696871;
    font-family: Mulish;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    /* 150% */
    letter-spacing: -0.625px;
}

.features-card-heading {
    color: #19191B;
    text-align: center;
    font-family: DMSans;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
    /* 150% */
    letter-spacing: -0.75px;
}

.features-card-description {
    color: #696871;
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* 150% */
    letter-spacing: -0.5px;
}

.nav-yearly {
    width: 160px;
    height: 55px;
    flex-shrink: 0;
    border-radius: 10px 0px 0px 10px;
    background: #5454D4;
}

.nav-monthly {
    width: 160px;
    height: 55px;
    flex-shrink: 0;
    border-radius: 0px 10px 10px 0px;
    background: #F7F7FB;
}

.pricing-header {
    color: #19191B;
    font-family: DMSans;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: 70px;
    /* 116.667% */
    letter-spacing: -1.876px;
}

.pricing-button-1 {
    width: 285px;
    height: 60px;
    flex-shrink: 0;
    border-radius: 10px;
    border: 1px solid #EAE9F2;
    background: #FFF;
    color: #5454D4;
    text-align: center;
    font-family: DMSans;
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.531px;
}

.pricing-button-2 {
    width: 285px;
    height: 60px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #9F3919;
    border: 1px solid #9F3919;
    color: #fff;
    text-align: center;
    font-family: DMSans;
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.531px;
}

.pricing-card-sub-title {
    color: #696871;
    text-align: center;
    font-family: DMSans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    /* 155.556% */
    letter-spacing: -0.563px;
}

.pricing-head {
    color: #1D293F;
    text-align: center;
    font-family: DMSans;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: 56px;
    /* 93.333% */
    letter-spacing: -1.034px;
}

.pricing-card-title {
    color: #1D293F;
    text-align: center;
    font-family: DMSans;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: 56px;
    /* 93.333% */
    letter-spacing: -1.034px;
}

.pricing-card-details {
    color: #696871;
    text-align: center;
    font-family: Mulish;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px;
    /* 294.118% */
    letter-spacing: -0.531px;
}

.pricing-card-unit {
    font-family: DMSans;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 56px;
    letter-spacing: -1.034px;
}

h5 {
    color: #19191B;
    font-family: DMSans;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 36px;
    /* 150% */
    letter-spacing: -0.75px;
}
.text-body-secondary
{
    color:#1D293F !important
}